#{extends 'Admin/main.html' /}
#{set title:'Home' /}
#{set 'moreScripts'}
#{/set}

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      #{include 'Admin/photo/side.html' /}
    </div>
    <div class="span10">
      <form id="group-edit-form" class="form-horizontal" action="@{admin.Photos.saveGallery()}" method="post">
        <input type="hidden" name="gallery.id" value="${gallery?.id}"/>
			  <fieldset>
			    <legend>${group?.name}</legend>
			    <div class="control-group">
				    <label class="control-label" for="gallery.name">相册名称:</label>
				    <div class="controls">
				      <input type="text" name="gallery.name" id="gallery.name" placeholder="相册名称" value="${gallery?.name}"/>
				    </div>
				  </div>
				  <div class="control-group">
            <label class="control-label" for="gallery.detail">相册描述:</label>
            <div class="controls">
              <input class="input-xxlarge" type="text" name="gallery.detail" id="gallery.detail" placeholder="相册描述" value="${gallery?.detail}"/>
            </div>
          </div>
          
			    <div class="control-group">
				    <div class="controls">
				      #{if gallery}
				      <button type="submit" class="btn">保存更新</button>
				      #{/if}
				      #{else}
				      <button type="submit" class="btn">添加</button>
				      #{/else}
				    </div>
				  </div>
			  </fieldset>
			</form>
    </div>
  </div>
</div>