body {
	background-color: #E8E9ED;
	font-family: "Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
}

body a {
	text-decoration: none;
}

body a:hover {
	text-decoration: none;
}

.input-file {
	
}

#header {
	background-color: #444;
	height: 82px;
  margin-bottom: 10px;
}
#inner-head {
	width: 928px;
	margin: 0 auto;
	text-align: left;
}
#logo {
	margin: 19px 0 0;
	position: relative;
	float: left;
	height: 44px;
	font-weight: bold;
  font-size: 100%;
}
#logo a {
	height: 44px;
	cursor: pointer;
	text-decoration: none;
	color: white;
	outline: none;
	font-size: 30px;
}
#topbar {
	float: right;
  margin: 40px 0 0;
  text-align: left;
}
#bar-btn {
	margin-top: -3px;
	display: inline;
  float: left;
}
#topbar ul li {
	position: relative;
	display: inline;
	height: 42px;
	margin: 0 0 0 25px;
	line-height: 24px;
	list-style: none;
}
#footer {
	margin-top: 25px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 12px;
	color: #74808B;
}

.container-box {
	padding: 100px 0 0;
}

#login-error {
	height: 60px;
	line-height: 60px;
}
#user-login-form {
	height:150px;
}