#{extends 'main.html' /}
#{set title:'用户注册' /}
#{set 'moreScripts'} 
#{/set}
<div class="container-960">
  <div class="container-box">
  
  <form class="form-horizontal" id="user-login-form" action="@{Users.loginProcess()}" method="post">
    <div class="span6">
	    <div class="control-group">
	      <label class="control-label" for="email">个人邮箱</label>
	      <div class="controls">
	        <input type="text" id="email" name="user.email"/>
	      </div>
	    </div>
	    <div class="control-group">
	      <label class="control-label" for="password">密 码</label>
	      <div class="controls">
	        <input type="password" id="password" name="user.password"/>
	      </div>
	    </div>
	    <div class="control-group">
	      <div class="controls">
	        <input type="submit" id="submitBtn" class="btn" value="登陆"/>
	      </div>
	    </div>
    </div>
    #{if error}
    <div class="span4 alert alert-error" id="login-error">${error}</div>
    #{/if}
  </form>
    
  </div>
</div>