#{extends 'Admin/main.html' /}
#{set title:'Home' /}
#{set 'moreScripts'}
  #{script 'app/models/user.js'/}
  #{script 'app/views/admin/user/user_edit.js'/}
#{/set}

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      #{include 'Admin/user/side.html' /}
    </div>
    <div class="span10">
      <form id="user-edit-form" class="form-horizontal" action="@{admin.Users.save()}" method="post">
        <input type="hidden" name="user.id" value="${user?.id}"/>
        <fieldset>
          <legend>${user?.nickName}</legend>
          <div class="control-group">
            <label class="control-label" for="user.nickName">用户昵称:</label>
            <div class="controls">
              <input type="text" id="user.nickName" name="user.nickName" placeholder="用户昵称" value="${user?.nickName}"/>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="user.email">用户邮箱:</label>
            <div class="controls">
              <input type="text" id="user.email" name="user.email" placeholder="用户邮箱" value="${user?.email}"/>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="detail">密码:</label>
            <div class="controls">
              <input type="text" id="user.password" name="user.password" placeholder="密码" value="${user?.password}"/>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="user.userGroup.id">用户分组:</label>
            <div class="controls">
              <select id="user.userGroup" name="user.userGroup.id">
                #{list groups, as:'g'}
                <option value="${g.id}">${g.name}</option>
                #{/list}
              </select>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              #{if user}
              <button type="submit" class="btn">保存更新</button>
              #{/if}
              #{else}
              <button type="submit" class="btn">添加</button>
              #{/else}
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>